In [3]:
# Name : Suhas Dhar
# 700: 700721985

In [ ]:
# Q1
# ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#• Sort the list and find the min and max age
#• Add the min age and the max age again to the list
#• Find the median age (one middle item or two middle items divided by two)
#• Find the average age (sum of all items divided by their number)
#• Find the range of the ages (max minus min)

In [1]:
import math
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# make a deep copy of list and sort inplace
ages2= list(ages)
ages2.sort()

ages2.append(ages2[0])
ages2.append(ages2[len(ages2)-2])
ages3=list(ages)
ages3.sort()

median=0
if len(ages3)%2 == 0:
    median=(ages3[math.floor(len(ages3)/2)]+ages3[math.floor((len(ages3)-1)/2)])/2
else: median= ages[len(ages3)/2]    
print('ages',ages2)
print('ages',ages3)
print('median',median)
print('average',sum(ages3)/len(ages3))
print('range',ages2[len(ages2)-1]-ages2[len(ages2)-2])

ages [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
ages [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
median 24.0
average 22.8
range 7

In [89]:
# Q2
# • Create an empty dictionary called dog
# • Add name, color, breed, legs, age to the dog dictionary
# • Create a student dictionary and add first_name, last_name, gender, age, marital status,
# •skills, country, city and address as keys for the dictionary
# • Get the length of the student dictionary
# • Get the value of skills and check the data type, it should be a list
# • Modify the skills values by adding one or two skills
# • Get the dictionary keys as a list
#• Get the dictionary values as a list

In [114]:
dog = {}
dog.update({"name": ""})
dog.update({"color": ""})
dog.update({"breed": ""})
dog.update({"legs": ""})
dog.update({"age": ""})
print('dog',dog)
student={}

student.update({"first_name": ""}) 
student.update({"last_name": ""}) 
student.update({"gender": ""})
student.update({"age": ""}) 
student.update({"maritial status": ""}) 
student.update({"skills": []})
student.update({"country": ""}) 
student.update({"city": ""}) 
student.update({"address": ""})

print('student',student)

print('length of student',len(student))
print('skills data type:',type((student["skills"])))
student["skills"].append("python")
print(student.keys())
print(student.values())

dog {'name': '', 'color': '', 'breed': '', 'legs': '', 'age': ''}
student {'first_name': '', 'last_name': '', 'gender': '', 'age': '', 'maritial status': '', 'skills': [], 'country': '', 'city': '', 'address': ''}
length of student 9
skills data type: <class 'list'>
dict_keys(['first_name', 'last_name', 'gender', 'age', 'maritial status', 'skills', 'country', 'city', 'address'])
dict_values(['', '', '', '', '', ['python'], '', '', ''])

In [ ]:
# Q3
# • Create a tuple containing names of your sisters and your brothers (imaginary siblings are
# fine)
# • Join brothers and sisters tuples and assign it to siblings
# • How many siblings do you have?
# • Modify the siblings tuple and add the name of your father and mother and assign it to
# family_members

In [120]:
brothers = ('John', 'Abraham')
sisters  = ('Sydney', 'Beckky')
# or using the tuple constructor
siblings=brothers+sisters

# tuples are immutable so we have to create a new tupple to make changes
family_members=('Chris', 'molly')+siblings
print("siblings count",len(siblings))   
print('family members',family_members)

siblings count 4
family members ('Chris', 'molly', 'John', 'Abraham', 'Sydney', 'Beckky')

In [ ]:
# Q4
# it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
# A = {19, 22, 24, 20, 25, 26}
# B = {19, 22, 20, 25, 26, 24, 28, 27}
# age = [22, 19, 24, 25, 26, 24, 25, 24]
# • Find the length of the set it_companies
# • Add 'Twitter' to it_companies
# • Insert multiple IT companies at once to the set it_companies
# • Remove one of the companies from the set it_companies
# • What is the difference between remove and discard
# • Join A and B
# • Find A intersection B
# • Is A subset of B
# • Are A and B disjoint sets
# • Join A with B and B with A
# • What is the symmetric difference between A and B
# • Delete the sets completely
# • Convert the ages to a set and compare the length of the list and the set.

In [141]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

it_companies.add('twitter')
it_companies.update(['NVDIA','Netflix'])
it_companies.remove('IBM')

# remove() method will pop an error if the item does not exist, and the discard() method will not.
C = A.union(B)

print(A.intersection(B))

print("Is 'A' subset of 'B: ",A.issubset(B))

# if intersection of 2 sets is null then the sets are disjoint 
print("Are 'A' and 'B' disjoint :",not A.intersection(B))
print(A.union(B).union(A))
print("Symmetric difference :",A.symmetric_difference(B))
del A
del B
age_set=set(age);
print('age set :',age_set)

{19, 20, 22, 24, 25, 26}
Is 'A' subset of 'B:  True
Are 'A' and 'B' disjoint : False
{19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference : {27, 28}
age set : {19, 22, 24, 25, 26}

In [163]:
#Q5
# The radius of a circle is 30 meters.
# • Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
# • Calculate the circumference of a circle and assign the value to a variable name of
# _circum_of_circle_
# • Take radius as user input and calculate the area.

In [164]:
radius = input('radius')
_area_of_circle_ = math.pi* float(radius)*float(radius)
_circum_of_circle_= 2*math.pi*(float(radius))
print("_circum_of_circle_ :",_circum_of_circle_)
print("_area_of_circle_ :",_area_of_circle_)

radius4
_circum_of_circle_ : 25.132741228718345
_area_of_circle_ : 50.26548245743669

In [ ]:
#Q6
# “I am a teacher and I love to inspire and teach people”
# • How many unique words have been used in the sentence? Use the split methods and set
# to get the unique words.

In [169]:
string= "I am a teacher and I love to inspire and teach people"
a=string.split(' ')
print("unique words :",len(a))

unique words : 12

In [ ]:
#Q7
#  Use a tab escape sequence to get the following lines.
#  Name Age Country City
#  Asabeneh 250 Finland Helsinki

In [179]:
print('Name\t\tAge\tCountry\t\tCity')
print('Asabeneh\t250\tFinland\t\tHelsinki')

Name		Age	Country		City
Asabeneh	250	Finland		Helsinki

In [ ]:
#Q8
# Use the string formatting method to display the following:
# radius = 10
# area = 3.14 * radius ** 2
# “The area of a circle with radius 10 is 314 meters square.”

In [ ]:
radius = 10
area = 3.14 * radius ** 2
"The area of a circle with radius {radius} is {area} meters square.".format(radius=radius, area=area)

In [ ]:
#Q9
# Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
# kilograms in a separate list using Loop. N: No of students (Read input from user)
# Ex: L1: [150, 155, 145, 148]
# Output: [68.03, 70.3, 65.77, 67.13]

In [8]:
l1=[]
l2=[]
n=int (input('number of students:'))
for i in range(n):
    inp=int(input('weights in pounds '))
    l1.append(inp)
    l2.append(inp *  0.45359237)
    
print('weight in pounds ',l1)    
print('weights in KGs',l2)

number of students:6
weights in pounds120
weights in pounds253
weights in pounds200
weights in pounds250
weights in pounds209
weights in pounds225
weight in pounds  [120, 253, 200, 250, 209, 225]
weights in KGs [54.4310844, 114.75886961, 90.718474, 113.3980925, 94.80080533, 102.05828325]